.navbar-brand {
    position: relative;
    left: 30px;
  }
  .navbar-nav {
    position: absolute;
    right: 30px;
  }

  body {
    background-color: lightgrey;
  }

  .col-lg-8 {
    border: 1px solid red;
    height: 500px;
    margin-top: 60px;
  }

  .col-lg-5 {
    border: 1px solid blue;
    height: 200px;
    float: left;
    margin-right: 20px;
    margin-top: 60px;
  }

  .top-para {
   position: relative;
   margin-top: 60px;
  }

  .bottom-para {
    margin-top: 40px;
  }
